.parent{
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(./loginimg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    /* border: 3px solid rgba(0, 0, 0, 0.194); */
    border-radius: 10px;
    width: 30%;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.635);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    border: 2px solid rgba(0, 0, 0, 0.178);
    height: 30px;    
}